form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
  border-radius: 5px;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

#container {
  text-align: center;
}

#dataDisplay {
  overflow: auto;
  margin: 1em auto;
  padding: 1em;
  border-radius: 1em;
  text-align: start;
  display: inline-block;
  min-width: 20em;
}

#dataDisplay:not(:empty) {
  border: 1px solid #ccc;
}

#process-form {
  width: 280px;
  margin: 0 auto;
  background-color: #fcfcfc;
  padding: 20px 50px 40px;
  box-shadow: 1px 4px 10px 1px #aaa;
  font-family: sans-serif;
}

#process-form * {
  box-sizing: border-box;
}

#process-form h2 {
  text-align: center;
  margin-bottom: 30px;
}

#process-form input {
  margin-bottom: 15px;
}

#process-form input[type='text'] {
  display: block;
  height: 32px;
  padding: 6px 16px;
  width: 100%;
  border: none;
  background-color: #f3f3f3;
}

#process-form label {
  color: #777;
  font-size: 0.8em;
}

#process-form input[type='checkbox'] {
  float: left;
}

#process-form input:not(:checked) + #feedback-phone {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#process-form #feedback-phone {
  transition: 0.3s;
}

#process-form button[type='submit'] {
  display: block;
  margin: 20px auto 0;
  width: 150px;
  height: 40px;
  border-radius: 25px;
  border: none;
  color: #eee;
  font-weight: 700;
  box-shadow: 1px 4px 10px 1px #aaa;

  background: #207cca; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #207cca 0%,
    #9f58a3 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #207cca 0%,
    #9f58a3 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #207cca 0%,
    #9f58a3 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#9f58a3',GradientType=1 ); /* IE6-9 */
}
