#foundProcesses {
    overflow: auto;
    margin: 1em auto;
    padding: 1em;
    border-radius: 1em;
    text-align: start;
    width: 20em;


}

#foundProcesses:not(:empty) {
    border: 1px solid #ccc;
}